/* Add your custom extension styling here */
.system-status-icon {
  margin-right: 5px;
}

.price-label,
.price-change-label {
  margin-top: 1px;
}

.price-time-range-label {
  margin-top: 1px;
  font-size: 9px;
  vertical-align: super;
}

.price-change-label {
  margin-left: 5px;
}
